table#dataTables-example.table.table-striped.table-bordered.table-hover(width='100%')
	thead
		tr
			th #
			th Text
			th Recipient
			th
			th Yea
			th Nay
			th Pct
			th Quorum
	tbody
		tr.even
			td(align="right") 2
			td <b>Do you believe in god?</b>
			td The DAO
			td(align="right") Cnt
			td(align="right") 107
			td(align="right") 182
			td(align="right",bgcolor="pink") 37.02%
			td(align="center") No
		tr.odd
			td(style="color:white") 2
			td &nbsp;
			td &nbsp;
			td(align="right") Tokens
			td(align="right") 36,049,546,211, 152,036,275,856
			td(align="right") 60,386,241,065, 713,309,156,911
			td(align="right",bgcolor="pink") 37.38%
			td(align="center") No
		tr.even
			td(align="right") 3
			td <b>Should curators only whitelist projects that are related to DAO security for the next 4 weeks?</b>
			td The DAO
			td(align="right") Cnt
			td(align="right") 54
			td(align="right") 160
			td(align="right",bgcolor="pink") 25.23%
			td(align="center") No
		tr.odd
			td(style="color:white") 3
			td &nbsp;
			td &nbsp;
			td(align="right") Tokens
			td(align="right") 18,705,181,556, 648,700,000,000
			td(align="right") 78,584,431,505, 782,500,000,000
			td(align="right",bgcolor="pink") 19.23%
			td(align="center") No
		tr.even
			td(align="right") 5
			td <b>Moratorium on proposals until the DAO contract is upgraded</b>.
			td The DAO
			td(align="right") Cnt
			td(align="right") 887
			td(align="right") 67
			td(align="right",bgcolor="lightgreen") 92.98%
			td(align="center") No
		tr.odd
			td(style="color:white") 5
			td Via newContract proposal fixing most serious issues with voting and splitting. Funds can be moved to the new contract gradually, via multiple proposals.
			td &nbsp;
			td(align="right") Tokens
			td(align="right") 941,715,525,819, 161,000,000,000
			td(align="right") 104,889,532,867, 640,000,000,000
			td(align="right",bgcolor="lightgreen") 89.98%
			td(align="center") No
		tr.even
			td(align="right") 11
			td <b>Curators, please hire somebody to fix the DAO code and allow more recipients</b>
			td The DAO Curator
			td(align="right") Cnt
			td(align="right") 40
			td(align="right") 180
			td(align="right",bgcolor="pink") 18.18%
			td(align="center") No
		tr.odd
			td(style="color:white") 11
			td &nbsp;
			td &nbsp;
			td(align="right") Tokens
			td(align="right") 27,787,128,045, 620,100,000,000
			td(align="right") 183,649,931,573, 549,000,000,000
			td(align="right",bgcolor="pink") 13.14%
			td(align="center") No
		tr.even
			td(align="right") 15
			td <b>Dear DAO - Tokenholders</b>
			td The DAO
			td(align="right") Cnt
			td(align="right") 253
			td(align="right") 47
			td(align="right",bgcolor="lightgreen") 84.33%
			td(align="center") No
		tr.odd
			td(style="color:white") 15
			td I am a simple DAO-Tokenholder and I will not post anything on the conventional Web2.0 social media. At the moment, it seems voting in the DAO has security issues. I am asking all DAO-Tokenholders to show the actual voting-power of the DAO. Please vote YES to show you are actually voting. Please vote NO to show that you are voting but unfortunately, you are a little bit annoyed by that proposal. I am serious. That's why I am willing to spend 2 ETH for this proposal. Lets show what we've got! The DAO is alive! I am auxborg
			td &nbsp;
			td(align="right") Tokens
			td(align="right") 211,458,855,679, 853,000,000,000
			td(align="right") 73,367,097,832, 443,800,000,000
			td(align="right",bgcolor="lightgreen") 74.24%
			td(align="center") No
		tr.even
			td(align="right") 17
			td <b>Raising the Proposal Deposit to 11 ETH</b>
			td The DAO
			td(align="right") Cnt
			td(align="right") 648
			td(align="right") 109
			td(align="right",bgcolor="lightgreen") 85.60%
			td(align="center") No
		tr.odd
			td(style="color:white") 17
			td <table><tr><td>This Proposal will raise the deposit required to make a proposal to The DAO from 2 ETH to 11 ETH.<br><br>An increase of the Proposal Deposit to <b>11 ETH</b> is expected to:<ul> <li>decrease the number of poorly thought-out proposals.</li><li>help avoid the confusion and concern that could be caused by hundreds of proposals that cannot be adequately assessed by DAO Token Holders.</li><li>reduce the number of spam proposals and amount of proposal-graffiti on The DAO.</ul>Moreover, the time spent on reviewing proposals by DAO Token Holders should be valued.  Therefore, additional value will accrue to The DAO because of this proposal from the proposal deposits that stay with The DAO when proposals fail to reach quorum. While an increase is necessary, <b>11 ETH</b> is still within reach for small start-ups and individuals that will want to offer services to The DAO. <a target=_blank href="https://forum.daohub.org/t/raising-the-proposal-deposit-to-11-eth/4106">Join the conversation about this proposal on DAOhub.org</a></td><td>&nbsp;&nbsp;&nbsp;</td><td valign=top><img style="border:1px solid darkblue" src=https://ipfs.pics/ipfs/Qmcg2geJ2eCSMEBBSbP8Z56AZgg6mnfTHo56t4SBC74873></td></tr></table>
			td &nbsp;
			td(align="right") Tokens
			td(align="right") 1,164,338,339,695, 830,000,000,000
			td(align="right") 72,601,344,208, 271,900,000,000
			td(align="right",bgcolor="lightgreen") 94.13%
			td(align="center") No
		tr.even
			td(align="right") 40
			td <b>Return dao tokens accidentally sent to The Dao.</b>
			td The DAO
			td(align="right") Cnt
			td(align="right") 358
			td(align="right") 24
			td(align="right",bgcolor="lightgreen") 93.72%
			td(align="center") No
		tr.odd
			td(style="color:white") 40
			td 56,829 tokens have been sent to The Dao.  This proposal will send those tokens to a contract where they can be claimed by the original owners for free.  Tokens not claimed can be purchased and the Ether from the purchase is sent back to The Dao.  The contract address is <a target=_blank href="https://etherscan.io/address/0xe3B6638F0C1C0FA37282FAb6eF9457e457A1E9a8">0xe3B6638F0C1C0FA37282FAb 6eF9457e457A1E9a8</a> with sources verified on Etherscan. Thanks, -psdev
			td &nbsp;
			td(align="right") Tokens
			td(align="right") 508,453,877,964, 139,000,000,000
			td(align="right") 5,078,771,558, 621,500,000,000
			td(align="right",bgcolor="lightgreen") 99.01%
			td(align="center") No
		tr.even
			td(align="right") 43
			td <b>Would you try (or contribute to) a collaborative musical performance application?</b>
			td The DAO
			td(align="right") Cnt
			td(align="right") 24
			td(align="right") 83
			td(align="right",bgcolor="pink") 22.43%
			td(align="center") No
		tr.odd
			td(style="color:white") 43
			td ~ solam.co/loops
			td &nbsp;
			td(align="right") Tokens
			td(align="right") 7,296,006,270, 827,520,000,000
			td(align="right") 19,216,685,563, 375,200,000,000
			td(align="right",bgcolor="pink") 27.52%
			td(align="center") No
		tr.even
			td(align="right") 51
			td <b>ULTIMATE SHOW OFF DAO Community!</b>
			td The DAO
			td(align="right") Cnt
			td(align="right") 156
			td(align="right") 35
			td(align="right",bgcolor="lightgreen") 81.68%
			td(align="center") No
		tr.odd
			td(style="color:white") 51
			td Let´s show DAO´s voting power! Simply vote yay or nay - it doesen´t matter.  BUT VOTE! (I beg you!)
			td &nbsp;
			td(align="right") Tokens
			td(align="right") 107,999,150,221, 995,000,000,000
			td(align="right") 5,084,705,065, 149,220,000,000
			td(align="right",bgcolor="lightgreen") 95.50%
			td(align="center") No
		tr.even
			td(align="right") 82
			td <b>Active Curators: Please Remove the 2 Inactive Curators from your Multisig</b>
			td The DAO
			td(align="right") Cnt
			td(align="right") 67
			td(align="right") 3
			td(align="right",bgcolor="lightgreen") 95.71%
			td(align="center") No
		tr.odd
			td(style="color:white") 82
			td <table><tr><td valign=top><img style="border:1px solid darkblue" src="http://i.imgur.com/A4vCUSy.jpg"></td><td>&nbsp;&nbsp;&nbsp;</td><td>This proposal requests that addresses <a target=_blank href="https://etherscan.io/address/0xb2c1b92f4bed7a173547cc601fb73a1254d10d26">0xb2c1b92f4bed7a173547cc601fb73a1254d10d26</a> and <a target=_blank href="https://etherscan.io/address/0x127ac03acfad15f7a49dd037e52d5507260e1425">0x127ac03acfad15f7a49dd037e52d5507260e1425</a> be removed from the Curator’s multisig as these addresses have not shown any activity.<br><br>According to <a target=_blank href="https://blog.daohub.org/daohub-verification-of-0xbb9bc244d798123fde783fcc1c72d3bb8c189413-d755317ee724#.g14we50gx">a post on blog.daohub.org</a>, 0xb2c1... belongs to <b>Aeron Buchanan</b>, and the owner of 0x127a... <b>has not even been verified</b> but it is supposedly owned by <b>Vlad Zamfir</b>.</td></tr><tr><td colspan=3>If either address reaches a status of being publicly verified and is actively used during the debating period for this proposal, then it can remain in the multisig, but if either of these addresses remain inactive or unverified despite this proposal, they should be removed from the Curator’s multisig if this proposal is passed. There are several nice places to discuss this topic further: the <a target=_blank href="https://thedao.slack.com/messages/curator/">#curator channel on The DAO’s slack</a>, <a target=_blank href="https://www.reddit.com/r/TheDao/comments/4ndsh8/curator_removal_process/">reddit</a> and the <a target=_blank href="https://forum.daohub.org/t/curator-removal-process/4844">DAOhub.org forums</a>.</td></tr></table>
			td &nbsp;
			td(align="right") Tokens
			td(align="right") 12,623,397,048, 646,100,000,000
			td(align="right") 220,970,941, 882,866,000,000
			td(align="right",bgcolor="lightgreen") 98.28%
			td(align="center") No
		tr.even
			td(align="right") 84
			td <b>Make "The DAO" the official name</b>
			td The DAO
			td(align="right") Cnt
			td(align="right") 106
			td(align="right") 14
			td(align="right",bgcolor="lightgreen") 89.08%
			td(align="center") No
		tr.odd
			td(style="color:white") 84
			td <table><tr><td valign=top>While it has been a placeholder initially, The DAO became more or less the official name of, well... The DAO, yet the name should be a decision made by all the DAO token holders, which is why I am going to ask you: Do you want to have The DAO as the official name?<br><br>The related forum thread can be found here: <a target=_blank href="https://forum.daohub.org/t/should-we-make-the-dao-the-official-name/4992">DAOhub forum</a>. Also, a poll regarding the name is on <a target=_blank href="https://dao.consider.it/">consider.it</a></td><td>&nbsp;&nbsp;&nbsp;</td><td><img style="border:1px solid darkblue" src="https://www.cryptocompare.com/media/350881/dao.png?width=150px"></td></tr></table>
			td &nbsp;
			td(align="right") Tokens
			td(align="right") 16,797,902,635, 674,200,000,000
			td(align="right") 2,729,542,943, 608,560,000,000
			td(align="right",bgcolor="lightgreen") 86.02%
			td(align="center") No
